- form_for(:testimonial, :url => "/admin/testimonials//#{action}/#{params[:id]}") do
  %p
    %label
      Testimonial Author
    = text_field "testimonial", "author", :class => 'textbox', :size => 50, :maxlength => 255
    %br
    %em
      Use the format Firstname Lastname, City, State
  %p
    %label
      Testimonial Body
    %br
    = text_area "testimonial", "body", :class => 'textarea', :size => '100x30'
    %br
  %p.buttons
    = save_model_button(@testimonial)
    or
    = link_to "Cancel", {:action => :index}
